<li class="nav-header">KATEGORİLER</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Kategori Listesi</p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Kategori Ekle</p>
    </a>
</li>

<li class="nav-header">KİTAPLAR</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Kitap Listesi</p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Book" asp-action="Create" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Kitap Ekle</p>
    </a>
</li>

<li class="nav-header">ÜYELİK İŞLEMLERİ</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Çıkış Yap</p>
    </a>
</li>